<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeUIArea</key>
	<integer>0</integer>
	<key>inspectorSidebar</key>
	<dict>
		<key>isVisible</key>
		<false/>
		<key>preferredWidth</key>
		<dict>
			<key>mac</key>
			<real>271</real>
		</dict>
		<key>sizePreference</key>
		<integer>0</integer>
		<key>type</key>
		<integer>7</integer>
	</dict>
	<key>isHidingConnections</key>
	<false/>
	<key>metaData</key>
	<dict>
		<key>date</key>
		<date>2024-08-24T14:15:46Z</date>
		<key>device</key>
		<dict>
			<key>mac</key>
			<dict/>
		</dict>
	</dict>
	<key>outline</key>
	<dict>
		<key>contentSizeCategory</key>
		<string>UICTContentSizeCategoryL</string>
		<key>showAttachmentsInline</key>
		<false/>
		<key>showContentIndicators</key>
		<true/>
		<key>showNotesInline</key>
		<true/>
		<key>showOnlyOpenTasks</key>
		<false/>
		<key>showTags</key>
		<true/>
	</dict>
	<key>outlineSidebar</key>
	<dict>
		<key>isVisible</key>
		<false/>
		<key>preferredWidth</key>
		<dict>
			<key>mac</key>
			<real>271</real>
		</dict>
		<key>sizePreference</key>
		<integer>0</integer>
		<key>type</key>
		<integer>8</integer>
	</dict>
	<key>scrollCenterPoint</key>
	<string>{87.5, 32.5}</string>
	<key>selectedObjects</key>
	<array>
		<string>48AEDE09-BCFE-4ECE-B7C5-0B1C17B27EEF</string>
	</array>
	<key>version</key>
	<integer>2</integer>
	<key>windowFrame</key>
	<string>390 351 900 589 0 0 1680 1025 </string>
	<key>zoomScale</key>
	<real>1</real>
</dict>
</plist>
